a{
	text-decoration: none;
    color: white;
}


/*--------------------------events-------------------------------------*/
.body{
	background-image: url(../images/space.webp);
	background-size: cover;


}
.body div {
	
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

.body .collections div ul {
	list-style-type: none;
	margin:1px;
	width:870px;
}
.body .collections div ul li 
{	
	float:left;
}

.body .collections div ul li a {
	display:block;
	width:287px;
}
.body .collections div ul li a img {
	border:1px solid #fff;
	padding: 0px;
}

.body .about, .body .collections {
	height:auto;
	min-height:1284px;
	padding:29px 0 0;
	    margin-left: 150px;
}

/*--------------------------registration-------------------------------------*/
.form-control{
	line-height: 45px;

    letter-spacing: 1.5px;
}
.form-control div input {
    display: block;
    width: 50%;
    height: 34px;
    padding:  14px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn button{
	background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #c0bfbf;
    border-radius: 4px;
    margin: 5px 22px 5px 0px
}

select{
	    padding: 5px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

p{
	font-family: 'Josefin Sans', sans-serif;"
}


.footer{
  width: auto;
    height:auto;
    background-image: url(..images/footbg.png);
    background-repeat: no-repeat;
    opacity: 0.8;
     margin-left: 120px;
}

.foot{
  width: 60px;
  border-radius: 60px;
}
.foot:hover{
   background-color: #880e4f;
  transform: scale(1.1);
}




.list{
  align-items: center;
  list-style-type: none;
  font-size: 20px;
  letter-spacing: 4.5px;
  line-height: 30px;
}

.link:hover { 
    background-color: gray;
  transform: scale(1.1);
}

#logo:hover{
  
  transform: scale(1.3);
}

.icons{
        margin-top: -10px;
    margin-left: 40px;
    font-size: 13px;
    color:white;
        font-family: cursive;
}
